<div class="container">
	<%= image_tag("gameboy.jpg", class: "gameboy", alt: "Edit Entry", usemap: "#gameboy") %>
	<map name="gameboy" class="centered" >
		<area shape="rect" coords="175,714,225,764" href="#" alt="Up">
		<area shape="rect" coords="125,764,175,814" href="left" alt="Left">
		<area shape="rect" coords="225,764,275,814" href="right" alt="Right">
		<area shape="rect" coords="175,814,225,864" href="#" alt="Down">
		<area shape="rect" coords="400,975,462,1000" href="#" alt="Start">
		<area shape="rect" coords="308,975,370,1000" href="#" alt="Select">
		<area shape="circle" coords="496,811,40" href="b_button" alt="B">
		<area shape="circle" coords="609,773,40" href="#" alt="A">
		<area shape="rect" coords="187,31,211,55" href="reboot" alt="Reboot">


		<div class="screen">
			<div class="fight">
				<div class="infos-movie" >
				<div><h3>Moviedex</h3></div>
				<% if $player.moviedex.size != 0 %>
				<div><h4><%= $player.moviedex[$player.index_movie].infos[:title] %></h4></div>
				<div><h4><%= $player.moviedex[$player.index_movie].infos[:director] %></h4></div>
				<div><h4><%= $player.moviedex[$player.index_movie].infos[:rating] %></h4></div>

				</div>
				<div class="image-movie" style="background-image: url('<%= $player.moviedex[$player.index_movie].infos[:poster] %>');">	
				<div class="choice">
					<div><p>[left] previous moviemon</p></div>
					<div><p>[right] next moviemon</p></div>
				<% else $player.moviedex.size != 0 %>
					<div><p>you don't have moviemons yet</p></div>

				<% end %>
					<div><p>[B] return to map</p></div>

				</div>
				</div>	
			</div>
		</div>
	</map>
</div>